@model  Trip.Models.Details
@{
    ViewBag.Title = Model.Cities.City_Name;
}

<div class="container-fluid" id="divtitleimage">
    <h1 id="CityNameTitle">@Model.Cities.City_Name</h1>
    <img src="~/Content/CityImages/@Model.CityImages.Image_URL" id="imageCity">
</div>
<div class="row" style="width:100%">
    <div class="col-sm-6" id="title2CityName">@Model.Cities.City_Name</div>
    <div class="col-sm-6" id="title2CountryName">@Model.Country.Country_Name</div>
</div>
<div id="cityDescriptionDiv"><p id="cityDescription">@Model.Cities.City_Description</p></div>
<table style="width:100%" class="table">
    <tr>
        <th scope="col">Attractions</th>
        <th scope="col">@Model.Country.Country_Name</th>
        <th scope="col">Events</th>
    </tr>

    <tbody>
        @foreach (var att in Model.Lists.random3Attractions())
        {
            <tr>

                <td>
                    @Html.ActionLink(att.Attractions_Name, "Attraction", "Home", new { id = att.AttractionID });
                </td>
            </tr>
        }
    </tbody>
</table>





