@model Trip.Models.Details
@{
    ViewBag.Title = Model.Cities.City_Name;
}

<div class="container-fluid" id="divtitleimage">
    <h1 id="CityNameTitle">@Model.Cities.City_Name</h1>
    <img src="~/Content/CityImages/@Model.CityImages.Image_URL" id="imageCity">
</div>
<div class="row" style="width:100%">
    <div class="col-sm-6" id="title2CityName">@Model.Cities.City_Name</div>
    <div class="col-sm-6" id="title2CountryName">@Model.Country.Country_Name</div>
</div>
<div id="cityDescriptionDiv"><p id="cityDescription">@Model.Cities.City_Description</p></div>

<table style="width:100%" class="table">
    <tr>
        <th scope="col">Attractions</th>
    </tr>
    <tbody>
        @foreach (var att in Model.Lists.random3Attractions(Model.Cities.City_Name))
        {
            <tr>
                <td>
                    @Html.ActionLink(att.Attractions_Name, "../AttractionList/AttractionList", "AttractionList", new { idatt = att.Attractions_Name });
                </td>
            </tr>
        }
    </tbody>
</table>
<table style="width:100%" class="table">
    <tr>
        <th scope="col">@Model.Country.Country_Name</th>
    </tr>
    <tbody>
        @foreach (var oras in Model.Lists.random3Cities(Model.Cities.City_Name))
        {
            <tr>
                <td>
                    @Html.ActionLink(oras.City_Name, "../City/City", "CityList", new { id=oras.CityID });
                </td>
            </tr>
        }
    </tbody>
</table>
