@model Trip.Models.Details
@{
    ViewBag.Title = Model.Cities.City_Name;
}

<div class="container" id="divtitleimage">
    <h1 id="CityNameTitle">@Model.Cities.City_Name</h1>
    <img src="~/Content/CityImages/@Model.CityImages.Image_URL" class="img-responsive" id="imageCity">
</div>
<div class="container-fluid">
    <div class="row" style="width:100%">
        <div class="col-md-12" id="title2CityName">@Model.Cities.City_Name /  @Model.Country.Country_Name</div>
    </div>
</div>
<div id="cityDescriptionDiv"><p id="cityDescription">@Model.Cities.City_Description</p></div>

<div class="container">
    <div class="col-md-4" id="randomlisttitle">
        <div class="row">
            @Model.Cities.City_Name
            <hr />
        </div>
        @foreach (var att in Model.Lists.random3Attractions(Model.Cities.City_Name))
        {
            <div class="row" id="randomlistcitiypage">
                @Html.ActionLink(att.Attractions_Name, "../Attraction/Attraction", new { idatt = att.AttractionID }, new { @class = "actionlink" })
            </div>
            <hr />
        }
    </div>
    <div class="col-md-4" id="randomlisttitle">
        <div class="row">
            @Model.Country.Country_Name
            <hr />
        </div>
        @foreach (var oras in Model.Lists.random3Cities(Model.Cities.City_Name))
        {
            <div class="row" id="randomlistcitiypage">
                @Html.ActionLink(oras.City_Name, "CityList", new { id = oras.CityID } ,new { @class = "actionlink" })
            </div>
            <hr />
        }
    </div>
</div>
